.message
  .message__info
    %p.message__info__tolker
      = message.user.name
    %p.message__info__data
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")

  .message-main__text
    - if message.content.present?
      %p.message__text__content
        = message.content
    = image_tag message.image.url, class: 'message__text__image' if message.image.present?