* {
  box-sizing: border-box;
}

$textColor: #ffffff;
@mixin displayFlex-spaceBetween() {
  display: flex;
  justify-content: space-between;
}

.chat-side {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  display: block;
  float: left;
  .side-header {
    height: 100px;
    padding: 0 20px;
    color: $textColor;
    display: flex;
    align-items: center;
    &__box {
      width: 100%;
      @include displayFlex-spaceBetween();
      font-weight: bold;
      line-height: 20px;
      &__user-name {
        font-size: 16px;
      }
      &__menu {
        display: flex;
        li {
          margin-left: 5px;
        }
        a {
          color: $textColor;
        }
      }
    }
  }

  .groups {
    width: 300px;
    height: 100vh;
    display: block;
    float: left;
    .side-header {
      height: 100px;
      padding: 0 20px;
      color: $textColor;
      display: flex;
      align-items: center;
      &__box {
        width: 100%;
        @include displayFlex-spaceBetween();
        font-weight: bold;
        line-height: 20px;
        &__user-name {
          font-size: 16px;
        }
        &__menu {
          display: flex;
          li {
            margin-left: 5px;
          }
          a {
            color: $textColor;
          }
        }
      }
  }
  }

    .groups {
      width: 300px;
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px;
        .group {
          color: $textColor;
          text-decoration: none;
          font-weight: bold;
          &__group-name {
            font-size: 15px;
          }
          &__last-message {
            font-size: 11px;
          }
        }
    }
    }

  .chat-main {
    background-color: #ffffff;
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;
    display: block;
  }
    .main-header {
      @include displayFlex-spaceBetween();
      padding: 0 40px;
      border-bottom: solid 1px #eee;
      .main-header__info {
        margin-top: 35px;
        &__groupname {
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
        } 
        &__member-list {
          font-size: 12px;
          color: #999999;
          display: flex;
          &__member {
            margin-left: 5px;
          }
        }
      }
      .edit {
        color: #38aef0;
        text-decoration: none;
        .edit-btn {
          line-height: 40px;
          text-align: center;
          margin: 28px 20px;
          width: 72px;
          height: 40px;
          border: solid 1px;
        }
      }  
    }
    .massages {
      height: calc(100vh - 190px );
      background-color: #fafafa;
      padding: 36px 40px;
      .massage {
        padding-bottom: 46px;
        .massage__info {
          display: flex;
          margin-bottom: 10px;
          &__tolker  {
            font-size: 16px;
            font-weight: bold;
            color: #333333;
          }
          &__data {
            font-size: 12px;
            font-weight: bold;
            color: #999999;
            margin-left: 10px;
          }
        }
        .massage__text {
          font-size: 14px;
          color: #434A54;
        }
      }  
    }

    .form {
      width: calc(100vw - 300px);
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;

      form {
        display: flex;
        .input-box {
          display: flex;
          position: relative;
          width: 100%;

          &__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
          }

          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 1.3rem;

            &__file {
              display: none;
            }
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: $textColor;
        cursor: pointer;
      }
    }  